<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= projectName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="libs/libs-compiled.css">
    <link rel="stylesheet" type="text/css" href="libs/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="visualizations/visualizations-compiled.css">
  </head>
  <body ng-app="<%= _.slugify(projectName) %>" class="container-fluid" ng-cloak>
    <div class="page-wrapper row">
      <nav class="sidebar col-sm-2">
        <div class="sidebar-inner">
          <div class="page-header">
            <h3>Rapid DataVis</h3>
          </div>
          <div class="sidebar-section visualizations">
            <h4 class="section-header">Visualizations</h4>
            <ul class="nav nav-stacked section-body">
              <li ng-repeat="vis in activeVisualizations" class="nav-item">
                <a href="#">
                  <i ng-class="vis.menuIconClass"></i> <span>{{vis.menuTitle}}</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="sidebar-section controls">
            <h4 class="section-header">Controls</h4>
            <ul class="nav nav-stacked section-body">
              <li ng-repeat="vis in activeVisualizations" class="nav-item">
                <div ng-include="vis.controlsTemplate"></div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content col-sm-10 col-xs-12 container">
        <div class="content-inner row">
          <div ng-repeat="vis in activeVisualizations">
            <div ng-include="vis.contentTemplate"></div>
          </div>
        </div>
      </div>
      <footer class="footer row">
        <div class="footer-inner">
          <span>Random footer text</span>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="libs/libs-compiled.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="visualizations/visualizations-compiled.js"></script>
  </body>

</html>